@import "../bases";

.housing-contener {
    background-color: $secondary-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: $border-radius;
    padding: 25px;
    margin: 45px 0;
}

.housing-card {
    height: 340px;
    width: 340px;
    cursor: pointer;
    position: relative;
    margin: 25px;
    display: flex;
    &:hover {
        transform: scale(1.04);
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        // box-shadow: 0 2px 6px 0 #b7b7b7, 0 3px 6px -2px #b7b7b7, 0 1px 6px 0 #b7b7b7;
        &:hover {
            transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            box-shadow: 0 2px 6px 0 #b7b7b7, 0 3px 6px -2px #b7b7b7, 0 1px 6px 0 #b7b7b7;
        }
    }
    &__title {
        width: 300px;
        height: 52px;
        font-size: $card-text-size;
        font-family: $primary-font;
        font-weight: 500;
        color: #FFF;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0 0 20px 20px;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}
  .filter::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
  }

@media screen and (max-width: 998px) {
    .housing-contener {
        background-color: #FFF;
        padding: 0;
        margin: 20px 0;
    }
    .housing-card {
        width: 100%;
        height: 250px;
        margin: 0 0 20px 0;
        &:hover {
            transform: scale(1.015);
        }
        &__text {
            overflow: hidden;
        }
        &__img {
            box-shadow: 0 2px 6px 0 #e3e3e3, 0 3px 6px -2px #e3e3e3, 0 1px 6px 0 #e3e3e3;
        }
    }
}
