@import "../_bases";

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    &__nav {
        display: flex;
        padding: 0;
        list-style-type: none;
        &--link {
            color: $primary-color;
            font-size: $nav-text-size;
            font-family: $primary-font;
            margin-left: 80px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


@media screen and (max-width: 998px) {
  .header {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
        .header {
            margin-bottom: 20px;
            align-items: center;
          &__logo {
            width: 130px;
          }
          &__nav {
            margin: 0;
            &--link {
                font-size: $nav-text-size-responsive;
                margin: 0 0 0 15px;
            }
          }
        }
    }