@import "../bases";

.error-contener {
    color: $primary-color;
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
    margin-top: 25px;
        &__title {
        font-size: 280px;
        font-weight: 700;
        margin: 50px 0 0 0;
        }
        &__subtitle {
        font-size: 36px; 
        font-weight: 500;
        margin: 40px 0 0 0;
        text-align: center;
        flex-wrap: wrap;
        }
        &__link {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        margin: 180px 0 0 0;
        color: $primary-color;
            &:hover {
                text-decoration: underline;
            }
        }
}

@media screen and (max-width: 768px) {
    .error-contener {
        &__title {
            font-size: 96px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__link {
            font-size: 14px;
        }
    }
}