.collapse-contener-housing {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}

@media screen and (max-width: 998px) {
    .collapse-contener-housing {
        flex-direction: column;
     > div {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 8px;
    }
}
}