@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

$primary-color: #FF6060;
$nav-text-size: 24px;
$primary-font: "Montserrat", sans-serif;

* {
    box-sizing: border-box;
};

body {
    margin: 55px 100px;
}

  
  
  