@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$nav-text-size: 24px;
$nav-text-size-responsive: 12px;
$card-text-size: 18px;
$tags-text-size: 14px;
$tags-text-size-responsive: 10px;
$collapse-housing: 18px;
$primary-font: "Montserrat", sans-serif;
$border-radius: 25px;

* {
    box-sizing: border-box;
};

body {
  margin: 0;
}

#root {
margin: 40px 100px 0 100px;
}

@media screen and (max-width: 768px) {
  #root {
    margin: 20px 20px 0 20px;
  }
}
  
  
  