@import "../bases";

.collapse {
    width: 45%;
    &__header {
        height: 50px;
        background-color: $primary-color;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
      &__btn {
            border-radius: 5px;
            color: #FFF;
            background-color: $primary-color;
            width: 100%;
            border: none;
            margin: 0 0 0 20px;
            padding: 0;
            font-size: $collapse-housing;
            font-family: $primary-font;
            font-weight: 400;
      }
  
      &__arrow {
        height: 16px;
        width: 27px;
        margin: 0 12px 0 0;
      }
    }
  
    &__content {
        width: 100%;
        border-radius: 5px;
        background-color: $secondary-color;
        padding: 30px 20px 30px 12px;
      &__text {
            color: $primary-color;
            margin: 0;
            font-size: $collapse-housing;
            font-family: $primary-font;
      }
  
      &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        &__item {
            color: $primary-color;
            margin: 0 0 3px 0;
            font-size: $collapse-housing;
            font-family: $primary-font;
        }
      }
    }
  }
  
  .about {
    width: 86%;
    margin-bottom: 35px;
    .collapse__header {
      height: 47px;
      &__btn {
        font-weight: 500;
      }
    }
    .collapse__content {
        padding-top: 25px;
    }
  }
